@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Phone input customization */
.react-phone-input-2.dark-mode {
  background-color: #374151;
  color: #ffffff;
}

.react-phone-input-2.dark-mode input {
  background-color: #374151;
  color: #ffffff;
  border-color: #4B5563;
}